# IntelliJ
.idea/

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
flask_session/

# Java
*.class
out.java
*.xml
out/
target/

# Logs & archives
*.log
*.tar.gz
*.sh

Extensions/
External Libraries/